@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 65.5%;
    font-family: 'roboto' , sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 5rem;
}



/* header */
.img_logo{
    height: 10rem;
    width: 10rem;
}
.img_logo_bolso{
    height: 5rem;
    width: 5rem;
    margin-top: 3rem;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav nav ul{
    font-size: 1.4rem;
    
}
.nav nav ul li{
    font-size: 0,2rem;
    list-style: none;
}
.nav__ul{
    margin-top: 20rem;
}



/* main */
#main{
    text-align: center;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "titulo"
    "texto1"
    "carrusel"
    "texto2";
}
.main__titulo{
    grid-area: titulo; 
}
.titulo{
    color: rgb(146, 106, 57);
    font-family: 'Aboreto', cursive;
}
.subtitulo{
    color: rgb(167, 126, 76);
    font-size: 2rem;
    font-family: 'Aboreto', cursive;
}
.main__tuno, .main__tdos{
    margin: 3rem;
}
.main__tuno{
    grid-area: texto1 ;
}
.main__tdos{
    grid-area: texto2;
}
.main__carrusel{
    grid-area: carrusel;
    box-shadow: 0 0 6rem rgb(66, 61, 61);
}
.main__carrusel img{
    height: 40rem;
}



/* main de pag cocina */
#menu{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "titulo"
    "card"
    "article";
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu__titulo{
    grid-area: titulo;
    padding: 1rem;
}
.menu__card{
    grid-area: card;
}
.menu__article{
    grid-area: article;
    display: flex;
    flex-direction: column;
}
.card{
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}
.card img{
    width: 100%;
    height: 100%;
}
.card_contenido{
    margin: 1rem;
    color: rgb(146, 106, 57);
    border: 1px solid rgb(146, 106, 57);
    border-radius: 4px;
    padding-top: 0.7rem;
}
.card_contenido:hover{
    background:rgb(212, 181, 139);
    color:#fff;
}



/* article */
.article__informacion{
    background-color: rgb(223, 209, 191);
}
.art__section__uno{
    background: #e9edc9;
    margin: 1rem;
    padding: 1rem;
}
.art__section__uno__ul{
    list-style: none;
    display: flex;
    flex-direction: column;

}
.art__section__uno__ul li{
    text-align: center;
    padding: 1rem;
}
.art__section__uno__ul li div a div{
    display:none;
}
.logo__fp--debito{
    box-shadow: 0 0 0.9rem rgb(161, 91, 34);
}
.logo__fp--credito{
    box-shadow: 0 0 0.9rem rgb(25, 169, 209);
}
.logo__fp--efectivo{
    box-shadow: 0 0 0.9rem rgb(51, 228, 66);
}
.logo__fp--masfp{
    box-shadow: 0 0 0.9rem rgb(25, 169, 209);
}

.article__section__dos{
    box-shadow: 0 0 0.3rem rgb(156, 112, 75);
}

.article__section__tres{
    padding: 2rem;
}
.section__tres__texto li{
    list-style: none;
}
.section__tres__texto li a{
    display:none;
}



/* footer */
.img_logo_wsp{
    height: 4rem;
    width: 4rem;
    position: fixed;
    bottom: 1rem;
    left: 31rem;
}
#footer{
    background-color: rgb(215, 188, 154);
    color: rgb(82, 60, 33);
    font-size: 1.2rem;
    padding:4em;
    box-shadow: 0 0 1rem rgb(0 0 0); 
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1fr ;
    grid-template-areas: 
    "section a"
    "nav"
    "section b";
}
.footer__logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__logos li{
    list-style: none;
    margin-top:1rem ;
    margin-left: 1rem;
}
.fuction__section__a{
    grid: "section a";
    

}
.fuction__section__b{
    grid: "section b";

}
.footer__nav{
    grid:" nav" ;
    justify-content: space-evenly;
    margin-right: 10rem;
    margin-top: 1rem;
}



/*media queries 768 */

@media screen and (min-width: 768px){

    /*header */
    .nav_ul {
    display: flex;
    flex-direction: row;
    }
    .nav_ul li{
        padding: 1rem;
    }


    /*main */
    #main{
        margin: 1rem;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "carrusel titulo"
        "carrusel texto1"
        "carrusel texto2";  
    }
    .main__titulo h1{
        font-size: 5rem;
    }
    .main__carrusel img{
        height: 50rem;
    }



    /* main cocina */
    .menu__article {
        flex-direction: row;
    }



    /* article */
    .art__section__uno__ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .art__section__uno__ul li div a div{
        display:block;
    }

    .section__tres__texto{
        display: flex;
        justify-content: space-around;
    }
    .section__tres__texto li a{
        display:block;
    }



    /* footer */
    .footer{
        align-items: center;
    }
    .footer__logos {
        margin-left: 3rem;
        margin-top: -2rem;
    }
    .img_logo_wsp{
        height: 5rem;
        width: 5rem;
        left: 68rem;
    }
}






/* madia queries 1200 desktop */

@media screen and (min-width: 1200px){

    /*header */
    .img_logo{
        height: 14rem;
        width: 14rem;
        margin-left: 20rem;  
    }
    .img_logo_bolso{
        margin-top: 4rem;
        margin-right: 3rem;
    }
    .nav_ul li{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .nav_ul li::before{
        content: "";
        height: 3px;
        width: 0%;
        background: rgb(146, 106, 57);
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.4s ease-out;
    }
    .nav nav ul li a{
    font-size: 1.7rem;
    }
    .nav_ul li:hover::before{
        width: 100%;
    }


    /* main */
    .main__titulo h1{
        font-size: 6rem;
    }
    .main__carrusel img{
        height: 65rem;
    }
    .subtitulo{
        color: rgb(167, 126, 76);
        font-size: 3rem;
        font-family: 'Aboreto', cursive;
    }
    .main__tuno, .main__tdos p{
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }



    /*cocina */
    .card{
        width: 35rem;
        cursor: default;
        transition: all 400ms ease;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
    .card_contenido{
        width:35rem;
        height: 3rem;
    }
    .menu__article section{
        margin-right: 10rem;
        margin-left: 10rem;
    }


    /*articulo */
    .art__section__uno__ul{
        margin-top: 3rem;
    }


    /* footer */
    .footer{
        display: flex;
        font-size: 1.3rem;
    }
    .img_logo_wsp{
        left: 138rem;
    }
    .footer__logos {
        display: flex;
    }
    .footer__logos li {
        padding: 3rem;
    }
}



