/* main de pag cocina */
#menu{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "titulo"
    "card"
    "article";
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.menu__titulo{
    grid-area: titulo;
    padding: 1rem;
}
.menu__card{
    grid-area: card;
}
.menu__article{
    grid-area: article;
    display: flex;
    flex-direction: column;
}
.card{
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}
.card img{
    width: 100%;
    height: 100%;
}
.card_contenido{
    margin: 1rem;
    color: rgb(146, 106, 57);
    border: 1px solid rgb(146, 106, 57);
    border-radius: 4px;
    padding-top: 0.7rem;
}
.card_contenido:hover{
    background:rgb(212, 181, 139);
    color:#fff;
}

/*media queries 768 */

@media screen and (min-width: 768px){

    div{
        padding: 1rem;
        margin-left: 1rem;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "carrusel titulo"
        "carrusel texto1"
        "carrusel texto2";

        .titulo{
        margin-bottom: 2rem;
        }

        div{
            
                img{
                height: 50rem;

                }
        }
    }
}
/* madia queries 1200 desktop */

@media screen and (min-width: 1200px){
    


    /*cocina */
    .card{
        width: 35rem;
        cursor: default;
        transition: all 400ms ease;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
    .card_contenido{
        width:35rem;
        height: 3rem;
    }
    .menu__article section{
        margin-right: 10rem;
        margin-left: 10rem;
    }

}

