// header
//vista mobile 380
header {
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        nav{
            margin-top: -1.2rem;
            margin-left: -1rem;

            ul{
                font-size: 1.8rem;
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-top: 6rem;
                margin-bottom: 1rem;

                li{
                    font-size: 0,2rem;
                    list-style: none;
                    margin: 0.5rem;
                    
                    a{
                        text-decoration: none;
                        color: black;
                        text-align: left;
                    }
                }
            }
        }
    }

    .img_logo{
        margin-top: -18rem;
        height: 10rem;
        width: 10rem;
    }

    .img_logo_bolso{
        margin-top: -18rem;
        height: 5rem;
        width: 5rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    header{
        div{
            nav{
                ul{
                    display: flex;
                    flex-direction: row;

                    li{
                        a{
                            font-size: 1.6rem;
                        }
                    }
                } 
            }
        }

        .img_logo{
            margin-top: 1rem;
            height: 10rem;
            width: 10rem;
        }
        .img_logo_bolso{
            margin-top: 1rem;
            height: 5rem;
            width: 5rem;
            margin-right: 1rem;
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    header{
        div{
            nav{
                margin-top: 1rem;

                ul{
                    li{
                        margin-left: 1rem;
                        margin-right: 1rem;

                        a{
                            font-size: 2rem;
                        }
                    }
                }
            } 
        }

        .img_logo{
            margin-top: 1rem;
            height: 20rem;
            width: 20rem;
        }
        .img_logo_bolso{
            margin-top: 1rem;
            height: 8rem;
            width: 8rem;
            margin-right: 8rem;
        }
    }
}



/* main de pag cocina */
div{
    margin-top: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "titulo"
    "card"
    "article";
    display: flex;
    flex-direction: column;
    align-items: center;
    

        .cocina__titulo{
            grid-area: titulo;
            padding: 1rem;
        }
        .cocina__card{
            grid-area: card;
        }
        
        .cocina__article{
            grid-area: article;
        }
}

.card{
    width: 30rem;
    height: 30rem;
    margin: 1rem;
    border-radius: 6px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);

        img{
            width: 100%;
            height: 100%;
        }

        .card_contenido{
            margin: 1rem;
            color: rgb(146, 106, 57);
            border: 1px solid rgb(146, 106, 57);
            border-radius: 4px;
            padding-top: 0.7rem;

            &:hover{
                background:rgb(212, 181, 139);
                color:#fff;
            }
        }
}


/*media queries 768 */

@media screen and (min-width: 768px){

    div{
        article{
            display: flex;
            justify-content: space-evenly;
            margin: 1rem;
        }
    }
}


/* madia queries 1200 desktop */

@media screen and (min-width: 1200px){

    div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "titulo article"
        "card article";

        .cocina__titulo{
            text-align: center;
        }
        .cocina__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -10rem;
        }
        
        .cocina__article{
            display: flex;
            flex-direction: column;
            margin-right: 15rem;
        }
    }
}


// article
/*vista mobile 380*/
article{
    background-color: rgb(232, 212, 187);
    padding-top: 1.5rem;

    section{
        ul{
            display: flex;
            li{
                list-style: none;
                text-align: center;
                padding: 0.5rem;

                div{
                    a{
                        display: none;
                        text-decoration: none;

                        div{
                            color: black;
                        }
                    }
                }
            }
        }
    }
    section{
        img{
            box-shadow: 0 0 1rem rgb(103, 86, 42);
        }
    }
    div{
        ul{
            padding: 1rem;

            li{
                list-style: none;
                text-align: center;

                a{
                    display: none;
                    text-decoration: none;
                        div{
                            color: black;
                        }
                }
            }
        }
    }
}
.logo__fp--debito{
    box-shadow: 0 0 0.9rem rgb(25, 169, 209);
}
.logo__fp--credito{
    box-shadow: 0 0 0.9rem rgb(161, 91, 34);;
}
.logo__fp--efectivo{
    box-shadow: 0 0 0.9rem rgb(51, 228, 66);
}
.logo__fp--masfp{
    box-shadow: 0 0 0.9rem rgb(25, 169, 209);
}
/*media queries 768*/
@media screen and (min-width: 768px){
    article{
        section{
            ul{
                justify-content: space-evenly;

                li{
                    display: flex;
                    flex-direction: column;

                    div{
                        display: flex;
                        flex-direction: column;

                        a{
                            display: block;
                            color: black;
                        }
                    }
                }
            }
        }
        div{
            display: flex;
            justify-content: center;
            ul{
                li{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    a{
                        display: block;
                        }
                    }
                }
            }
        }
    }
/*media queris vista desktop*/
@media screen and (min-width: 1200px){
    article{
        div{
            ul{
                display: flex;
                margin: 1rem;
            }
        }
    }
    
}



// Footer 380
footer{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: rgb(84, 52, 7);
    background-color: rgb(204, 158, 92);
    box-shadow: 0 0 1rem  rgb(116, 79, 27);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    
    section{
        margin: 1rem;
    }
    div{
        ul{
            display: flex;            
            li{
                list-style: none;

                p{
                    margin-left: 1rem;
                }
            }
        }
    }
    .img_logo_wsp{
        height: 4rem;
        width: 4rem;
        position: fixed;
        bottom: 1rem;
        left: 31rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    footer{
        justify-content: center;
        align-items: center;

        div{
            margin-top: 0.5rem;
        }

        .img_logo_wsp{
            height: 5rem;
            width: 5rem;
            margin-left: 36rem;
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    footer{
        flex-direction: row;
        section{
            margin-right: 15rem;
            h4{
                margin-bottom: 1.5rem;
            }
        }
        div{
            ul{
                li{
                    a{
                        img{
                            margin-top: 0.6rem;
                        }
                    }
                }
            }
        }
        .img_logo_wsp{
            height: 6rem;
            width: 6rem;
            bottom: 1rem;
            left: 102rem;
        }   
    }
}
