/* footer */
.img_logo_wsp{
    height: 4rem;
    width: 4rem;
    position: fixed;
    bottom: 1rem;
    left: 31rem;
}

footer{
    background-color: rgb(215, 188, 154);
    color: rgb(82, 60, 33);
    font-size: 1.2rem;
    padding:4em;
    box-shadow: 0 0 1rem rgb(0 0 0);
    
    section{
        margin-bottom: 2rem;
    }

    div{
        
        ul{
            display: flex;
            justify-content: space-evenly;
            margin-right: 6rem;
            
            li{
                list-style: none;
                margin-bottom: 2rem;
            }
        }
    }
}



/*media queries 768 */

@media screen and (min-width: 768px){

    .img_logo_wsp{
        height: 5rem;
        width: 5rem;
        left: 68rem;
    }

    footer{
        display: flex;
        justify-content: space-evenly;

        div{
            ul{
                li{
                    margin: 1rem;
                }

            }
        }
    }
}



/* madia queries 1200 desktop */

@media screen and (min-width: 1200px){

    .img_logo_wsp{
        left: 138rem;
    }
    footer{
        section{
            display: flex;
            flex-direction: column;
        }
        div{
            ul{
                li{
                    margin: 2rem;
                }
            }
        }
    }
}
