/* header */
.img_logo{
    height: 10rem;
    width: 10rem;
}
.img_logo_bolso{
    height: 5rem;
    width: 5rem;
    margin-top: 3rem;
}
header {
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        nav{
            ul{
                font-size: 1.8rem;
                display: flex;
                flex-direction: column;
                margin-top: 6rem;
                margin-bottom: 1rem;
                text-align: center;


                li{
                    font-size: 0,2rem;
                    list-style: none;
                    margin: 0.5rem;
                    
                    a{
                        text-decoration: none;
                        color: black;
                    }

                }

            }
        }

    }
}

/*media queries 768 */

@media screen and (min-width: 768px){

    header{
        div{
            nav{
                ul{
                    display: flex;
                    flex-direction: row;

                    li{
                        a{
                            font-size: 1.5rem;
                        }
                    }
                } 
            }
        }
    }
}


/* madia queries 1200 desktop */

@media screen and (min-width: 1200px){

    header{
        div{
            nav{
                ul{
                    li{
                        display: flex;
                        flex-direction: row;
                        position: relative;

                        &::before{
                            content: "";
                            height: 3px;
                            width: 0%;
                            background: rgb(146, 106, 57);
                            position: absolute;
                            left: 0;
                            bottom: -8px;
                            transition: 0.4s ease-out;

                        &:hover{
                            width: 100%;
                        }

                            a{
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }

        }

    }

    /*header */
    .img_logo{
        height: 14rem;
        width: 14rem;
        margin-left: 20rem;  
    }
    .img_logo_bolso{
        margin-top: 4rem;
        margin-right: 3rem;
    }
    .nav_ul li{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .nav_ul li::before{
        content: "";
        height: 3px;
        width: 0%;
        background: rgb(146, 106, 57);
        position: absolute;
        left: 0;
        bottom: -8px;
        transition: 0.4s ease-out;
    }
    .nav nav ul li a{
    font-size: 1.7rem;
    }
    .nav_ul li:hover::before{
        width: 100%;
    }
}