// header
//vista mobile 380
header {
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        nav{
            margin-top: -1.2rem;
            margin-left: -1rem;

            ul{
                font-size: 1.8rem;
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-top: 6rem;
                margin-bottom: 1rem;

                li{
                    font-size: 0,2rem;
                    list-style: none;
                    margin: 0.5rem;
                    
                    a{
                        text-decoration: none;
                        color: black;
                        text-align: left;
                    }
                }
            }
        }
    }

    .img_logo{
        height: 10rem;
        width: 10rem;
    }
    .img_logo_bolso{
        height: 5rem;
        width: 5rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    header{
        div{
            a{
                margin-top: 13rem;

                .img_logo{
                    height: 10rem;
                    width: 10rem;
                }
            }
            div{
                margin-top: 21rem;
            }
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    header{
        div{
            a{
                margin-top: 15rem;
                margin-left: 6rem;

                .img_logo{
                    height: 15rem;
                    width: 15rem;
                }
            }
            nav{
                ul{
                    li{
                        a{
                            margin-left: 1.5rem;
                        }
                    }
                }
            }
            div{
                .img_logo_bolso{
                    margin-top: -17rem;
                    margin-right: 5rem;
                    height: 6rem;
                    width: 6rem;
                }
            }
        }
    }
}




//arreglar img de carrusel
main{
    text-align: center;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "titulo"
    "texto1"
    "carrusel"
    "texto2";

    .main__titulo{
        grid-area: titulo; 
    }
    .main__tuno{
        grid-area: texto1 ;
    }
    .main__tdos{
        grid-area: texto2;
    }
    .carousel{
        grid-area: carrusel;
        height: 40rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){

    main{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "carrusel titulo"
        "carrusel texto1"
        "carrusel texto2";
        margin: 1rem;
    }
}
/*media queries 1200 */
@media screen and (min-width: 1200px){

    main{
        font-size: 1.5rem   ;
    }

}


// article
/*vista mobile 380*/
article{
    background-color: rgb(232, 212, 187);
    padding-top: 1.5rem;

    section{
        ul{
            display: flex;
            li{
                list-style: none;
                text-align: center;
                padding: 0.5rem;

                div{
                    a{
                        display: none;
                        text-decoration: none;

                        div{
                            color: black;
                        }
                    }
                }
            }
        }
    }
    section{
        img{
            box-shadow: 0 0 1rem rgb(103, 86, 42);
        }
    }
    div{
        ul{
            padding: 1rem;

            li{
                list-style: none;
                text-align: center;

                a{
                    display: none;
                    text-decoration: none;
                        div{
                            color: black;
                        }
                }
            }
        }
    }
}
.logo__fp--debito{
    box-shadow: 0 0 0.9rem rgb(25, 169, 209);
}
.logo__fp--credito{
    box-shadow: 0 0 0.9rem rgb(161, 91, 34);;
}
.logo__fp--efectivo{
    box-shadow: 0 0 0.9rem rgb(51, 228, 66);
}
.logo__fp--masfp{
    box-shadow: 0 0 0.9rem rgb(25, 169, 209);
}
/*media queries 768*/
@media screen and (min-width: 768px){
    article{
        section{
            ul{
                justify-content: space-evenly;

                li{
                    display: flex;
                    flex-direction: column;

                    div{
                        display: flex;
                        flex-direction: column;

                        a{
                            display: block;
                            color: black;
                        }
                    }
                }
            }
        }
        div{
            display: flex;
            justify-content: center;
            ul{
                li{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;
                    a{
                        display: block;
                        }
                    }
                }
            }
        }
    }
/*media queris vista desktop*/
@media screen and (min-width: 1200px){
    article{
        div{
            ul{
                li{
                    margin-left: 10rem;
                    margin-right: 10rem;
                }
            }
        }
    }
}



// Footer 380
footer{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: rgb(84, 52, 7);
    background-color: rgb(204, 158, 92);
    box-shadow: 0 0 1rem  rgb(116, 79, 27);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    
    section{
        margin: 1rem;
    }
    div{
        ul{
            display: flex;            
            li{
                list-style: none;

                p{
                    margin-left: 1rem;
                }
            }
        }
    }
    .img_logo_wsp{
        height: 4rem;
        width: 4rem;
        position: fixed;
        bottom: 1rem;
        left: 31rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    footer{
        justify-content: center;
        align-items: center;

        .img_logo_wsp{
            height: 5rem;
            width: 5rem;
            margin-left: 36rem;
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    footer{
        div{
            ul{
                margin-bottom: -3rem;
            }
        }
        .img_logo_wsp{
            margin-left: 25rem;
            margin-bottom: 2rem;
        }
    }
}





