
//arreglar img de carrusel

main{
    text-align: center;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "titulo"
    "texto1"
    "carrusel"
    "texto2";

    .main__titulo{
        grid-area: titulo; 
    }
    .main__tuno{
        grid-area: texto1 ;
    }
    .main__tdos{
        grid-area: texto2;
    }
    .carousel{
        grid-area: carrusel;
        height: 40rem;
    }
}

/*media queries 768 */

@media screen and (min-width: 768px){

    main{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "carrusel titulo"
        "carrusel texto1"
        "carrusel texto2";
        margin: 1rem;
    }
}


/*media queries 1200 */

@media screen and (min-width: 1200px){

    main{
        font-size: 1.5rem   ;
    }

}



