// header
//vista mobile 380
header {
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        nav{
            margin-top: -1.2rem;
            margin-left: -1rem;

            ul{
                font-size: 1.8rem;
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-top: 6rem;
                margin-bottom: 1rem;

                li{
                    font-size: 0,2rem;
                    list-style: none;
                    margin: 0.5rem;
                    
                    a{
                        text-decoration: none;
                        color: black;
                        text-align: left;
                    }
                }
            }
        }
    }

    .img_logo{
        margin-top: -18rem;
        height: 10rem;
        width: 10rem;
    }

    .img_logo_bolso{
        margin-top: -18rem;
        height: 5rem;
        width: 5rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    header{
        div{
            nav{
                ul{
                    display: flex;
                    flex-direction: row;

                    li{
                        a{
                            font-size: 1.6rem;
                        }
                    }
                } 
            }
        }

        .img_logo{
            margin-top: 1rem;
            height: 10rem;
            width: 10rem;
        }
        .img_logo_bolso{
            margin-top: 1rem;
            height: 5rem;
            width: 5rem;
            margin-right: 1rem;
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    header{
        div{
            nav{
                margin-top: 1rem;

                ul{
                    li{
                        margin-left: 1rem;
                        margin-right: 1rem;

                        a{
                            font-size: 2rem;
                        }
                    }
                }
            } 
        }

        .img_logo{
            margin-top: 1rem;
            height: 20rem;
            width: 20rem;
        }
        .img_logo_bolso{
            margin-top: 1rem;
            height: 8rem;
            width: 8rem;
            margin-right: 8rem;
        }
    }
}





//menu de informacion
main{
    section{
        padding: 1rem;
        font-size: 1.3rem;

        div{
            img{
                height: 100%;
                width: 100%;
            }
        }
    }

    .formasDePago{
        margin: 1rem;
        background-color: #e9edc9;
        box-shadow: 0 0 0.9rem #b4b89a;
        text-align: center;
        
    }
    .cancelacion{
        background-color: #fefae0;
        text-align: left;
        padding: 1rem;
        margin: 1rem;
        box-shadow: 0 0 0.9rem #b7b4a3;
        
        div{
            padding: 1rem;
        }
    }
    .leyDeCompra{
        background-color: #faedcd;
        text-align: center;
        margin: 1rem;
        box-shadow: 0 0 0.9rem #b6ab8d;

        div{
            li{
                text-align: left;
            }
        }
    }
}

/*media queries 768 */
@media  screen and (min-width: 768px){
    main{
        #mediosPagos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "titulo"
            "credito debito"
            "efectivo tecto";

            .titulo_informacion{
                grid-area: titulo;
            }
            .credito{
                grid-area: credito;
            }
            .debito{
                grid-area: debito;
            }
            .efectivo{
                grid-area: efectivo;
            }
            .texto__informacion{
                grid-area: texto;
            }
        }
    }
}   

/*media queries 1200 */
//@media  screen and (min-width: 1200px){


    
// Footer 380
footer{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: rgb(84, 52, 7);
    background-color: rgb(204, 158, 92);
    box-shadow: 0 0 1rem  rgb(116, 79, 27);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    
    section{
        margin: 1rem;
    }
    div{
        ul{
            display: flex;            
            li{
                list-style: none;

                p{
                    margin-left: 1rem;
                }
            }
        }
    }
    .img_logo_wsp{
        height: 4rem;
        width: 4rem;
        position: fixed;
        bottom: 1rem;
        left: 31rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    footer{
        justify-content: center;
        align-items: center;

        div{
            margin-top: 0.5rem;
        }

        .img_logo_wsp{
            height: 5rem;
            width: 5rem;
            margin-left: 36rem;
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    footer{
        flex-direction: row;
        section{
            margin-right: 15rem;
            h4{
                margin-bottom: 1.5rem;
            }
        }
        div{
            ul{
                li{
                    a{
                        img{
                            margin-top: 0.6rem;
                        }
                    }
                }
            }
        }
        .img_logo_wsp{
            height: 6rem;
            width: 6rem;
            bottom: 1rem;
            left: 102rem;
        }   
    }
}
