// header
header {
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        nav{
            margin-top: -1.2rem;
            margin-left: -1rem;

            ul{
                font-size: 1.8rem;
                display: flex;
                flex-direction: column;
                margin-top: 6rem;
                margin-bottom: 1rem;

                li{
                    font-size: 0,2rem;
                    list-style: none;
                    margin: 0.5rem;
                    
                    a{
                        text-decoration: none;
                        color: black;
                        text-align: left;
                    }
                }
            }
        }
    }

    .img_logo{
        height: 10rem;
        width: 10rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .img_logo_bolso{
        height: 5rem;
        width: 5rem;
        margin-top: 3rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    .img_logo_bolso{
        height: 5rem;
        width: 5rem;
        margin-top: 3.4rem;
        margin-right: 1rem;
    }

    header{
        div{
            nav{
                ul{
                    display: flex;
                    flex-direction: row;

                    li{
                        a{
                            font-size: 1.6rem;
                        }
                    }
                } 
            }
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    .img_logo{
        height: 18rem;
        width: 18rem;
        margin-left: 5rem;  
    }
    .img_logo_bolso{
        height: 10rem;
        width: 10rem;
        margin-top: 4.1rem;
        margin-right: 5rem;
    }
    header{
        div{
            nav{
                margin-top: 3.9rem;

                ul{
                    li{
                        margin-left: 1rem;
                        margin-right: 1rem;

                        a{
                            font-size: 2rem;
                        }
                    }
                }
            } 
        }
    }
}







/* main de pag cocina */
main{
    section{
        text-align: center;
    }
    div{
        div{
            section{
                margin-top: 1rem;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr ;
                grid-template-rows: 1fr ;
                grid-template-areas: 
                "titulo"
                "card"
                "article";
                display: flex;
                flex-direction: column;
                align-items: center; 
            }
                    .pm__card{
                        grid-area: card;
                    }
        }
    }
    article{
        text-align: center;
        margin: 1rem;
        padding: 1rem;

        ul{
            li{
                list-style: none;
                margin: 0.5rem;
            }
        }


    }
}


/*media queries 768 */

@media screen and (min-width: 768px){

    div{
        article{
            display: flex;
            justify-content: space-evenly;
            margin: 1rem;
        }
    }
}


/* madia queries 1200 desktop */

@media screen and (min-width: 1200px){

    div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "titulo article"
        "card article";
    }
}


// Footer 380
footer{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: rgb(84, 52, 7);
    background-color: rgb(204, 158, 92);
    box-shadow: 0 0 1rem  rgb(116, 79, 27);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    
    section{
        margin: 1rem;
    }
    div{
        ul{
            display: flex;            
            li{
                list-style: none;

                p{
                    margin-left: 1rem;
                }
            }
        }
    }
    .img_logo_wsp{
        height: 4rem;
        width: 4rem;
        position: fixed;
        bottom: 1rem;
        left: 31rem;
    }
}
/*media queries 768 */
@media screen and (min-width: 768px){
    footer{
        justify-content: center;
        align-items: center;

        div{
            margin-top: 0.5rem;
        }

        .img_logo_wsp{
            height: 5rem;
            width: 5rem;
            margin-left: 36rem;
        }
    }
}
/* madia queries 1200 desktop */
@media screen and (min-width: 1200px){
    footer{
        flex-direction: row;
        section{
            margin-right: 15rem;
            h4{
                margin-bottom: 1.5rem;
            }
        }
        div{
            ul{
                li{
                    a{
                        img{
                            margin-top: 0.6rem;
                        }
                    }
                }
            }
        }
        .img_logo_wsp{
            height: 6rem;
            width: 6rem;
            bottom: 1rem;
            left: 102rem;
        }   
    }
}
