@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 65.5%;
    font-family: 'roboto' , sans-serif;
}
.titulo{
    color: rgb(146, 106, 57);
    font-family: 'Aboreto', cursive;
}
.subtitulo{
    color: rgb(167, 126, 76);
    font-size: 2rem;
    font-family: 'Aboreto', cursive;
}