main{
    text-align: center;

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        
        section{
            display: flex;
            flex-direction: column;
    
            img{
                height: 30rem;
                width: 30rem;
            }
        }
    }
}



/*media queries 768 */

@media screen and (min-width: 768px){

    main{
        div{
            margin-left: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "basecruz trapecio"
            "conico tripode";
        }
            .baseCruz{
                grid-area: basecruz;
            }

            .conico{
                grid-area: conico;
            }

            .trapecio{
                grid-area: trapecio;
            }

            .tripode{
                grid-area: tripode;
            }
    }
}


/*media queries 1200 */

@media screen and (min-width: 1200px){

    main{
        div{
            margin-left: 20rem;

        }
    }
}